body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: rgb(212, 243, 233);
  margin: 10px;
}

h1 {
  text-align: center;
}

.intro {
  color: #3a70ad;
  margin: 0px 100px;
}

@media screen and (max-width: 1000px) and (min-width: 700px) {
  .intro {
    background-color: white;
  }
}

@media screen and (max-width: 480px) and (min-width: 300px) {
  .intro {
    background-color: #F9F8B1;
  }
}